[Desktop Entry]
Name=Obsidian
Exec=/home/matt/Downloads/Obsidian-1.8.7.AppImage %u
Terminal=false
Type=Application
Icon=/usr/share/icons/obsidian-icon.png
StartupWMClass=obsidian
X-AppImage-Version=0.8.15
Comment=Obsidian
Categories=Office;
MimeType=text/html;x-scheme-handler/obsidian;
