[Desktop Entry]
Type=Application
Exec=/home/matt/Downloads/OneDriveGUI-1.0.2-x86_64.AppImage
Name=OneDriveGUI
GenericName=OneDrive
Categories=Utility
Keywords=background;desktop;
